<a href="https://colab.research.google.com/github/jerryjliu/llama_index/blob/main/docs/docs/examples/index_structs/struct_indices/SQLIndexDemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="åœ¨ Colab ä¸­æ‰“å¼€"/></a>

# Text-to-SQLæŒ‡å—ï¼ˆæŸ¥è¯¢å¼•æ“+æ£€ç´¢å™¨ï¼‰

è¿™æ˜¯å…³äºLlamaIndexçš„Text-to-SQLåŠŸèƒ½çš„åŸºæœ¬æŒ‡å—ã€‚
1. é¦–å…ˆï¼Œæˆ‘ä»¬å°†å±•ç¤ºå¦‚ä½•åœ¨ä¸€ä¸ªç©å…·æ•°æ®é›†ä¸Šæ‰§è¡Œæ–‡æœ¬åˆ°SQLè½¬æ¢ï¼šè¿™å°†è¿›è¡Œâ€œæ£€ç´¢â€ï¼ˆå¯¹æ•°æ®åº“è¿›è¡ŒSQLæŸ¥è¯¢ï¼‰å’Œâ€œåˆæˆâ€ã€‚
2. ç„¶åï¼Œæˆ‘ä»¬å°†å±•ç¤ºå¦‚ä½•æ„å»ºä¸€ä¸ªTableIndexæ¥åŠ¨æ€æ£€ç´¢ç›¸å…³è¡¨æ ¼ä»¥ä¾›æŸ¥è¯¢æ—¶ä½¿ç”¨ã€‚
3. æœ€åï¼Œæˆ‘ä»¬å°†å‘æ‚¨å±•ç¤ºå¦‚ä½•å•ç‹¬å®šä¹‰ä¸€ä¸ªæ–‡æœ¬åˆ°SQLæ£€ç´¢å™¨ã€‚

**æ³¨æ„ï¼š** ä»»ä½•Text-to-SQLåº”ç”¨ç¨‹åºéƒ½åº”æ„è¯†åˆ°æ‰§è¡Œä»»æ„SQLæŸ¥è¯¢å¯èƒ½å­˜åœ¨å®‰å…¨é£é™©ã€‚å»ºè®®é‡‡å–å¿…è¦çš„é¢„é˜²æªæ–½ï¼Œä¾‹å¦‚ä½¿ç”¨å—é™è§’è‰²ã€åªè¯»æ•°æ®åº“ã€æ²™ç®±ç­‰ã€‚

å¦‚æœæ‚¨åœ¨colabä¸Šæ‰“å¼€è¿™ä¸ªç¬”è®°æœ¬ï¼Œæ‚¨å¯èƒ½éœ€è¦å®‰è£…LlamaIndex ğŸ¦™ã€‚

In [ ]:
%pip install llama-index-llms-openai

In [ ]:
!pip install llama-index

In [ ]:
import os
import openai

In [ ]:
os.environ["OPENAI_API_KEY"] = "sk-.."
openai.api_key = os.environ["OPENAI_API_KEY"]

In [ ]:
# å¯¼å…¥æ—¥å¿—æ¨¡å—
# å¯¼å…¥ç³»ç»Ÿæ¨¡å—

# é…ç½®æ—¥å¿—åŸºæœ¬è®¾ç½®ï¼Œè¾“å‡ºåˆ°æ ‡å‡†è¾“å‡ºæµï¼Œæ—¥å¿—çº§åˆ«ä¸ºINFO
# è·å–æ—¥å¿—è®°å½•å™¨å¹¶æ·»åŠ ä¸€ä¸ªè¾“å‡ºåˆ°æ ‡å‡†è¾“å‡ºæµçš„å¤„ç†å™¨

In [ ]:
from IPython.display import Markdown, display

### åˆ›å»ºæ•°æ®åº“æ¨¡å¼

æˆ‘ä»¬ä½¿ç”¨ `sqlalchemy`ï¼Œä¸€ä¸ªæµè¡Œçš„SQLæ•°æ®åº“å·¥å…·åŒ…ï¼Œæ¥åˆ›å»ºä¸€ä¸ªç©ºçš„ `city_stats` è¡¨ã€‚

In [ ]:
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
    select,
)

In [ ]:
engine = create_engine("sqlite:///:memory:")
metadata_obj = MetaData()

In [ ]:
# åˆ›å»ºåŸå¸‚SQLè¡¨
table_name = "city_stats"
city_stats_table = Table(
    table_name,
    metadata_obj,
    Column("city_name", String(16), primary_key=True),
    Column("population", Integer),
    Column("country", String(16), nullable=False),
)
metadata_obj.create_all(engine)

### å®šä¹‰SQLæ•°æ®åº“

æˆ‘ä»¬é¦–å…ˆå®šä¹‰æˆ‘ä»¬çš„`SQLDatabase`æŠ½è±¡ï¼ˆå®ƒæ˜¯å¯¹SQLAlchemyçš„è½»é‡çº§å°è£…ï¼‰ã€‚

In [ ]:
from llama_index.core import SQLDatabase
from llama_index.llms.openai import OpenAI

In [ ]:
llm = OpenAI(temperature=0.1, model="gpt-3.5-turbo")

In [ ]:
sql_database = SQLDatabase(engine, include_tables=["city_stats"])

æˆ‘ä»¬å‘æˆ‘ä»¬çš„SQLæ•°æ®åº“ä¸­æ·»åŠ äº†ä¸€äº›æµ‹è¯•æ•°æ®ã€‚

In [ ]:
sql_database = SQLDatabase(engine, include_tables=["city_stats"])
from sqlalchemy import insert

rows = [
    {"city_name": "Toronto", "population": 2930000, "country": "Canada"},
    {"city_name": "Tokyo", "population": 13960000, "country": "Japan"},
    {
        "city_name": "Chicago",
        "population": 2679000,
        "country": "United States",
    },
    {"city_name": "Seoul", "population": 9776000, "country": "South Korea"},
]
for row in rows:
    stmt = insert(city_stats_table).values(**row)
    with engine.begin() as connection:
        cursor = connection.execute(stmt)

In [ ]:
# æŸ¥çœ‹å½“å‰è¡¨æ ¼
stmt = select(
    city_stats_table.c.city_name,
    city_stats_table.c.population,
    city_stats_table.c.country,
).select_from(city_stats_table)

with engine.connect() as connection:
    results = connection.execute(stmt).fetchall()
    print(results)

[('Toronto', 2930000, 'Canada'), ('Tokyo', 13960000, 'Japan'), ('Chicago', 2679000, 'United States'), ('Seoul', 9776000, 'South Korea')]

### æŸ¥è¯¢ç´¢å¼•

æˆ‘ä»¬é¦–å…ˆå±•ç¤ºå¦‚ä½•æ‰§è¡ŒåŸå§‹çš„SQLæŸ¥è¯¢ï¼Œç›´æ¥åœ¨è¡¨ä¸Šæ‰§è¡Œã€‚

In [ ]:
from sqlalchemy import text

with engine.connect() as con:
    rows = con.execute(text("SELECT city_name from city_stats"))
    for row in rows:
        print(row)

('Chicago',)
('Seoul',)
('Tokyo',)
('Toronto',)

## ç¬¬1éƒ¨åˆ†ï¼šæ–‡æœ¬åˆ°SQLæŸ¥è¯¢å¼•æ“
ä¸€æ—¦æˆ‘ä»¬æ„å»ºäº†SQLæ•°æ®åº“ï¼Œæˆ‘ä»¬å°±å¯ä»¥ä½¿ç”¨NLSQLTableQueryEngineæ¥æ„å»ºè‡ªç„¶è¯­è¨€æŸ¥è¯¢ï¼Œè¿™äº›æŸ¥è¯¢ä¼šè¢«åˆæˆä¸ºSQLæŸ¥è¯¢ã€‚

è¯·æ³¨æ„ï¼Œæˆ‘ä»¬éœ€è¦æŒ‡å®šè¦åœ¨æ­¤æŸ¥è¯¢å¼•æ“ä¸­ä½¿ç”¨çš„è¡¨ã€‚
å¦‚æœæˆ‘ä»¬ä¸æŒ‡å®šï¼ŒæŸ¥è¯¢å¼•æ“å°†æå–æ‰€æœ‰çš„æ¨¡å¼ä¸Šä¸‹æ–‡ï¼Œè¿™å¯èƒ½ä¼šè¶…å‡ºLLMçš„ä¸Šä¸‹æ–‡çª—å£ã€‚

In [ ]:
from llama_index.core.query_engine import NLSQLTableQueryEngine

query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database, tables=["city_stats"], llm=llm
)
query_str = "Which city has the highest population?"
response = query_engine.query(query_str)

In [ ]:
display(Markdown(f"<b>{response}</b>"))

<b>The city with the highest population is Tokyo.</b>

è¿™ä¸ªæŸ¥è¯¢å¼•æ“åº”è¯¥åœ¨ä»»ä½•ä½ å¯ä»¥é¢„å…ˆæŒ‡å®šè¦æŸ¥è¯¢çš„è¡¨ï¼Œæˆ–è€…æ‰€æœ‰è¡¨æ¨¡å¼çš„æ€»å¤§å°åŠ ä¸Šå…¶ä½™æç¤ºç¬¦é€‚åˆä½ çš„ä¸Šä¸‹æ–‡çª—å£çš„æƒ…å†µä¸‹ä½¿ç”¨ã€‚

## ç¬¬äºŒéƒ¨åˆ†ï¼šæ–‡æœ¬åˆ°SQLçš„æŸ¥è¯¢æ—¶é—´æ£€ç´¢è¡¨æ ¼
å¦‚æœæˆ‘ä»¬äº‹å…ˆä¸çŸ¥é“è¦ä½¿ç”¨å“ªä¸ªè¡¨ï¼Œå¹¶ä¸”è¡¨æ¨¡å¼çš„æ€»å¤§å°è¶…å‡ºäº†ä¸Šä¸‹æ–‡çª—å£çš„å¤§å°ï¼Œé‚£ä¹ˆæˆ‘ä»¬åº”è¯¥å°†è¡¨æ¨¡å¼å­˜å‚¨åœ¨ç´¢å¼•ä¸­ï¼Œè¿™æ ·åœ¨æŸ¥è¯¢æ—¶æˆ‘ä»¬å°±å¯ä»¥æ£€ç´¢åˆ°æ­£ç¡®çš„æ¨¡å¼ã€‚

æˆ‘ä»¬å¯ä»¥ä½¿ç”¨SQLTableNodeMappingå¯¹è±¡æ¥å®ç°è¿™ä¸€ç‚¹ï¼Œå®ƒæ¥å—ä¸€ä¸ªSQLDatabaseå¹¶ä¸ºä¼ é€’ç»™ObjectIndexæ„é€ å‡½æ•°çš„æ¯ä¸ªSQLTableSchemaå¯¹è±¡ç”Ÿæˆä¸€ä¸ªNodeå¯¹è±¡ã€‚

In [ ]:
from llama_index.core.indices.struct_store.sql_query import (
    SQLTableRetrieverQueryEngine,
)
from llama_index.core.objects import (
    SQLTableNodeMapping,
    ObjectIndex,
    SQLTableSchema,
)
from llama_index.core import VectorStoreIndex

# å°†æ—¥å¿—çº§åˆ«è®¾ç½®ä¸ºDEBUGä»¥è·å¾—æ›´è¯¦ç»†çš„è¾“å‡º
table_node_mapping = SQLTableNodeMapping(sql_database)
table_schema_objs = [
    (SQLTableSchema(table_name="city_stats"))
]  # ä¸ºæ¯ä¸ªè¡¨æ·»åŠ ä¸€ä¸ªSQLTableSchema

obj_index = ObjectIndex.from_objects(
    table_schema_objs,
    table_node_mapping,
    VectorStoreIndex,
)
query_engine = SQLTableRetrieverQueryEngine(
    sql_database, obj_index.as_retriever(similarity_top_k=1)
)

ç°åœ¨æˆ‘ä»¬å¯ä»¥ä½¿ç”¨SQLTableRetrieverQueryEngineæ¥æŸ¥è¯¢å¹¶è·å–æˆ‘ä»¬çš„å“åº”ã€‚

In [ ]:
response = query_engine.query("Which city has the highest population?")
display(Markdown(f"<b>{response}</b>"))

<b>The city with the highest population is Tokyo.</b>

In [ ]:
# ä½ ä¹Ÿå¯ä»¥ä»SQLAlchemyä¸­è·å–åŸå§‹ç»“æœï¼
response.metadata["result"]

[('Tokyo',)]

æ‚¨è¿˜å¯ä»¥ä¸ºæ‚¨å®šä¹‰çš„æ¯ä¸ªè¡¨æ¨¡å¼æ·»åŠ é¢å¤–çš„ä¸Šä¸‹æ–‡ä¿¡æ¯ã€‚

In [ ]:
# æ‰‹åŠ¨è®¾ç½®ä¸Šä¸‹æ–‡æ–‡æœ¬
city_stats_text = (
    "è¯¥è¡¨æä¾›äº†æœ‰å…³ç»™å®šåŸå¸‚çš„äººå£å’Œå›½å®¶çš„ä¿¡æ¯ã€‚\nç”¨æˆ·å°†ä½¿ç”¨ä»£ç è¯è¿›è¡ŒæŸ¥è¯¢ï¼Œå…¶ä¸­'foo'å¯¹åº”äººå£ï¼Œ'bar'å¯¹åº”åŸå¸‚ã€‚"
)

table_node_mapping = SQLTableNodeMapping(sql_database)
table_schema_objs = [
    (SQLTableSchema(table_name="city_stats", context_str=city_stats_text))
]

## ç¬¬ä¸‰éƒ¨åˆ†ï¼šæ–‡æœ¬åˆ°SQLæ£€ç´¢å™¨

åˆ°ç›®å‰ä¸ºæ­¢ï¼Œæˆ‘ä»¬çš„æ–‡æœ¬åˆ°SQLåŠŸèƒ½è¢«æ‰“åŒ…åœ¨ä¸€ä¸ªæŸ¥è¯¢å¼•æ“ä¸­ï¼ŒåŒ…æ‹¬æ£€ç´¢å’Œåˆæˆä¸¤éƒ¨åˆ†ã€‚

ä½ å¯ä»¥å•ç‹¬ä½¿ç”¨SQLæ£€ç´¢å™¨ã€‚æˆ‘ä»¬å°†å‘ä½ å±•ç¤ºä¸€äº›ä¸åŒçš„å‚æ•°å¯ä»¥å°è¯•ï¼Œå¹¶ä¸”è¿˜ä¼šå±•ç¤ºå¦‚ä½•å°†å…¶æ’å…¥åˆ°æˆ‘ä»¬çš„`RetrieverQueryEngine`ä¸­ï¼Œä»¥è·å¾—å¤§è‡´ç›¸åŒçš„ç»“æœã€‚

In [ ]:
from llama_index.core.retrievers import NLSQLRetriever

# é»˜è®¤æ£€ç´¢ï¼ˆreturn_raw=Trueï¼‰
nl_sql_retriever = NLSQLRetriever(
    sql_database, tables=["city_stats"], return_raw=True
)

In [ ]:
results = nl_sql_retriever.retrieve(
    "Return the top 5 cities (along with their populations) with the highest population."
)

In [ ]:
from llama_index.core.response.notebook_utils import display_source_node

for n in results:
    display_source_node(n)

**Node ID:** 458f723e-f1ac-4423-917a-522a71763390<br>**Similarity:** None<br>**Text:** [('Tokyo', 13960000), ('Seoul', 9776000), ('Toronto', 2930000), ('Chicago', 2679000)]<br>

In [ ]:
# é»˜è®¤æ£€ç´¢ï¼ˆreturn_raw=Falseï¼‰
nl_sql_retriever = NLSQLRetriever(
    sql_database, tables=["city_stats"], return_raw=False
)

In [ ]:
results = nl_sql_retriever.retrieve(
    "Return the top 5 cities (along with their populations) with the highest population."
)

In [ ]:
# æ³¨æ„ï¼šæ‰€æœ‰å†…å®¹éƒ½åœ¨å…ƒæ•°æ®ä¸­
å¯¹äºç»“æœä¸­çš„æ¯ä¸ªnï¼š
    æ˜¾ç¤ºæºèŠ‚ç‚¹(n, show_source_metadata=True)

**Node ID:** 7c0e4c94-c9a6-4917-aa3f-e3b3f4cbcd5c<br>**Similarity:** None<br>**Text:** <br>**Metadata:** {'city_name': 'Tokyo', 'population': 13960000}<br>

**Node ID:** 3c1d1caa-cec2-451e-8fd1-adc944e1d050<br>**Similarity:** None<br>**Text:** <br>**Metadata:** {'city_name': 'Seoul', 'population': 9776000}<br>

**Node ID:** fb9f9b25-b913-4dde-a0e3-6111f704aea9<br>**Similarity:** None<br>**Text:** <br>**Metadata:** {'city_name': 'Toronto', 'population': 2930000}<br>

**Node ID:** c31ba8e7-de5d-4f28-a464-5e0339547c70<br>**Similarity:** None<br>**Text:** <br>**Metadata:** {'city_name': 'Chicago', 'population': 2679000}<br>

### æ’å…¥æˆ‘ä»¬çš„`RetrieverQueryEngine`

æˆ‘ä»¬å°†æˆ‘ä»¬çš„SQL Retrieverä¸æ ‡å‡†çš„`RetrieverQueryEngine`ç»„åˆï¼Œä»¥åˆæˆä¸€ä¸ªå“åº”ã€‚ç»“æœå¤§è‡´ç±»ä¼¼äºæˆ‘ä»¬æ‰“åŒ…çš„`Text-to-SQL`æŸ¥è¯¢å¼•æ“ã€‚

In [ ]:
from llama_index.core.query_engine import RetrieverQueryEngine

query_engine = RetrieverQueryEngine.from_args(nl_sql_retriever)

In [ ]:
response = query_engine.query(
    "Return the top 5 cities (along with their populations) with the highest population."
)

In [ ]:
print(str(response))

The top 5 cities with the highest population are:

1. Tokyo - 13,960,000
2. Seoul - 9,776,000
3. Toronto - 2,930,000
4. Chicago - 2,679,000