<a href="https://colab.research.google.com/github/run-llama/llama_index/blob/main/docs/docs/examples/output_parsing/df_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="åœ¨ Colab ä¸­æ‰“å¼€"/></a>

# DataFrame ç»“æ„åŒ–æ•°æ®æå–

è¿™ä¸ªæ¼”ç¤ºå±•ç¤ºäº†å¦‚ä½•ä»åŸå§‹æ–‡æœ¬ä¸­æå–è¡¨æ ¼æ•°æ®æ¡†ã€‚

è¿™ç›´æ¥å—åˆ°äº†jxnlåœ¨è¿™é‡Œçš„æ•°æ®æ¡†ç¤ºä¾‹çš„å¯å‘ï¼šhttps://github.com/jxnl/openai_function_call/blob/main/auto_dataframe.pyã€‚

æˆ‘ä»¬å±•ç¤ºäº†ä¸åŒå¤æ‚ç¨‹åº¦çš„ç¤ºä¾‹ï¼Œéƒ½ç”±OpenAIå‡½æ•°APIæ”¯æŒï¼š
- ï¼ˆæ›´å¤šä»£ç ï¼‰å¦‚ä½•ä½¿ç”¨æˆ‘ä»¬çš„OpenAIPydanticProgramè‡ªå·±æ„å»ºæå–å™¨
- ï¼ˆæ›´å°‘ä»£ç ï¼‰ä½¿ç”¨æˆ‘ä»¬çš„å¼€ç®±å³ç”¨çš„`DFFullProgram`å’Œ`DFRowsProgram`å¯¹è±¡

## è‡ªå·±æ„å»ºä¸€ä¸ªDFæå–å™¨ï¼ˆä½¿ç”¨OpenAIPydanticProgramï¼‰

æˆ‘ä»¬çš„OpenAIPydanticProgramæ˜¯å›´ç»•OpenAI LLMçš„ä¸€ä¸ªåŒ…è£…å™¨ï¼Œæ”¯æŒå‡½æ•°è°ƒç”¨ - å®ƒå°†ä»¥Pydanticå¯¹è±¡çš„å½¢å¼è¿”å›ç»“æ„åŒ–è¾“å‡ºã€‚

æˆ‘ä»¬å¯¼å…¥äº†`DataFrame`å’Œ`DataFrameRowsOnly`å¯¹è±¡ã€‚

è¦åˆ›å»ºä¸€ä¸ªè¾“å‡ºæå–å™¨ï¼Œä½ åªéœ€è¦ 1) æŒ‡å®šç›¸å…³çš„Pydanticå¯¹è±¡ï¼Œå’Œ 2) æ·»åŠ æ­£ç¡®çš„æç¤ºã€‚

å¦‚æœæ‚¨åœ¨colabä¸Šæ‰“å¼€è¿™ä¸ªç¬”è®°æœ¬ï¼Œæ‚¨å¯èƒ½éœ€è¦å®‰è£…LlamaIndex ğŸ¦™ã€‚

In [ ]:
%pip install llama-index-llms-openai
%pip install llama-index-program-openai

In [ ]:
!pip install llama-index

In [ ]:
from llama_index.program.openai import OpenAIPydanticProgram
from llama_index.core.program import (
    DFFullProgram,
    DataFrame,
    DataFrameRowsOnly,
)
from llama_index.llms.openai import OpenAI

In [ ]:
program = OpenAIPydanticProgram.from_defaults(
    output_cls=DataFrame,
    llm=OpenAI(temperature=0, model="gpt-4-0613"),
    prompt_template_str=(
        "Please extract the following query into a structured data according"
        " to: {input_str}.Please extract both the set of column names and a"
        " set of rows."
    ),
    verbose=True,
)

In [ ]:
# æ³¨æ„ï¼šæµ‹è¯•ç¤ºä¾‹å–è‡ªjxnlçš„å­˜å‚¨åº“response_obj = program(    input_str="""æˆ‘çš„åå­—æ˜¯çº¦ç¿°ï¼Œæˆ‘ä»Šå¹´25å²ã€‚æˆ‘ä½åœ¨çº½çº¦ï¼Œå–œæ¬¢æ‰“ç¯®çƒã€‚ä»–çš„åå­—æ˜¯è¿ˆå…‹ï¼Œä»–ä»Šå¹´30å²ã€‚ä»–ä½åœ¨æ—§é‡‘å±±ï¼Œå–œæ¬¢æ‰“æ£’çƒã€‚èæ‹‰ä»Šå¹´20å²ï¼Œä½åœ¨æ´›æ‰çŸ¶ã€‚å¥¹å–œæ¬¢æ‰“ç½‘çƒã€‚ç›ä¸½çš„åå­—ï¼Œå¥¹ä»Šå¹´35å²ã€‚å¥¹ä½åœ¨èŠåŠ å“¥ã€‚""")response_obj

Function call: DataFrame with args: {
  "columns": [
    {
      "column_name": "Name",
      "column_desc": "Name of the person"
    },
    {
      "column_name": "Age",
      "column_desc": "Age of the person"
    },
    {
      "column_name": "City",
      "column_desc": "City where the person lives"
    },
    {
      "column_name": "Hobby",
      "column_desc": "What the person likes to do"
    }
  ],
  "rows": [
    {
      "row_values": ["John", 25, "New York", "play basketball"]
    },
    {
      "row_values": ["Mike", 30, "San Francisco", "play baseball"]
    },
    {
      "row_values": ["Sarah", 20, "Los Angeles", "play tennis"]
    },
    {
      "row_values": ["Mary", 35, "Chicago", "play tennis"]
    }
  ]
}

DataFrame(description=None, columns=[DataFrameColumn(column_name='Name', column_desc='Name of the person'), DataFrameColumn(column_name='Age', column_desc='Age of the person'), DataFrameColumn(column_name='City', column_desc='City where the person lives'), DataFrameColumn(column_name='Hobby', column_desc='What the person likes to do')], rows=[DataFrameRow(row_values=['John', 25, 'New York', 'play basketball']), DataFrameRow(row_values=['Mike', 30, 'San Francisco', 'play baseball']), DataFrameRow(row_values=['Sarah', 20, 'Los Angeles', 'play tennis']), DataFrameRow(row_values=['Mary', 35, 'Chicago', 'play tennis'])])

In [ ]:
program = OpenAIPydanticProgram.from_defaults(
    output_cls=DataFrameRowsOnly,
    llm=OpenAI(temperature=0, model="gpt-4-0613"),
    prompt_template_str=(
        "Please extract the following text into a structured data:"
        " {input_str}. The column names are the following: ['Name', 'Age',"
        " 'City', 'Favorite Sport']. Do not specify additional parameters that"
        " are not in the function schema. "
    ),
    verbose=True,
)

In [ ]:
program(    input_str="""æˆ‘çš„åå­—æ˜¯çº¦ç¿°ï¼Œæˆ‘ä»Šå¹´25å²ã€‚æˆ‘ä½åœ¨çº½çº¦ï¼Œå–œæ¬¢æ‰“ç¯®çƒã€‚ä»–å«è¿ˆå…‹ï¼Œä»Šå¹´30å²ã€‚ä»–ä½åœ¨æ—§é‡‘å±±ï¼Œå–œæ¬¢æ‰“æ£’çƒã€‚èæ‹‰ä»Šå¹´20å²ï¼Œä½åœ¨æ´›æ‰çŸ¶ã€‚å¥¹å–œæ¬¢æ‰“ç½‘çƒã€‚ç›ä¸½çš„åå­—ï¼Œå¥¹ä»Šå¹´35å²ã€‚å¥¹ä½åœ¨èŠåŠ å“¥ã€‚""")

Function call: DataFrameRowsOnly with args: {
  "rows": [
    {
      "row_values": ["John", 25, "New York", "basketball"]
    },
    {
      "row_values": ["Mike", 30, "San Francisco", "baseball"]
    },
    {
      "row_values": ["Sarah", 20, "Los Angeles", "tennis"]
    },
    {
      "row_values": ["Mary", 35, "Chicago", ""]
    }
  ]
}

DataFrameRowsOnly(rows=[DataFrameRow(row_values=['John', 25, 'New York', 'basketball']), DataFrameRow(row_values=['Mike', 30, 'San Francisco', 'baseball']), DataFrameRow(row_values=['Sarah', 20, 'Los Angeles', 'tennis']), DataFrameRow(row_values=['Mary', 35, 'Chicago', ''])])

## ä½¿ç”¨æˆ‘ä»¬çš„DataFrameç¨‹åº

æˆ‘ä»¬ä¸º`DFFullProgram`å’Œ`DFRowsProgram`æä¾›äº†ä¾¿åˆ©çš„åŒ…è£…å™¨ã€‚è¿™å…è®¸æ¯”é€šè¿‡`OpenAIPydanticProgram`æŒ‡å®šæ‰€æœ‰ç»†èŠ‚æ›´ç®€å•çš„å¯¹è±¡åˆ›å»ºæ¥å£ã€‚

In [ ]:
from llama_index.program.openai import OpenAIPydanticProgramfrom llama_index.core.program import DFFullProgram, DFRowsProgramimport pandas as pd# åˆå§‹åŒ–ç©ºçš„æ•°æ®æ¡†df = pd.DataFrame(    {        "Name": pd.Series(dtype="str"),        "Age": pd.Series(dtype="int"),        "City": pd.Series(dtype="str"),        "Favorite Sport": pd.Series(dtype="str"),    })# åˆå§‹åŒ–ç¨‹åºï¼Œä½¿ç”¨ç°æœ‰çš„æ•°æ®æ¡†ä½œä¸ºæ¨¡å¼df_rows_program = DFRowsProgram.from_defaults(    pydantic_program_cls=OpenAIPydanticProgram, df=df)

In [ ]:
# ä½¿ç”¨ç°æœ‰çš„dfä½œä¸ºæ¨¡å¼è§£ææ–‡æœ¬result_obj = df_rows_program(    input_str="""æˆ‘çš„åå­—æ˜¯çº¦ç¿°ï¼Œæˆ‘ä»Šå¹´25å²ã€‚æˆ‘ä½åœ¨çº½çº¦ï¼Œå–œæ¬¢æ‰“ç¯®çƒã€‚ä»–å«è¿ˆå…‹ï¼Œä»–ä»Šå¹´30å²ã€‚ä»–ä½åœ¨æ—§é‡‘å±±ï¼Œå–œæ¬¢æ‰“æ£’çƒã€‚èæ‹‰ä»Šå¹´20å²ï¼Œä½åœ¨æ´›æ‰çŸ¶ã€‚å¥¹å–œæ¬¢æ‰“ç½‘çƒã€‚ç›ä¸½å«ç›ä¸½ï¼Œå¥¹ä»Šå¹´35å²ã€‚å¥¹ä½åœ¨èŠåŠ å“¥ã€‚""")

In [ ]:
result_obj.to_df(existing_df=df)

/Users/jerryliu/Programming/gpt_index/llama_index/program/predefined/df.py:65: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return existing_df.append(new_df, ignore_index=True)

    Name  Age           City Favorite Sport
0   John   25       New York     Basketball
1   Mike   30  San Francisco       Baseball
2  Sarah   20    Los Angeles         Tennis
3   Mary   35        Chicago

In [ ]:
# åˆå§‹åŒ–ç¨‹åºï¼Œå¯ä»¥è¿›è¡Œè”åˆæ¨¡å¼æå–å’Œç»“æ„åŒ–æ•°æ®æå–df_full_program = DFFullProgram.from_defaults(    pydantic_program_cls=OpenAIPydanticProgram,)

In [ ]:
result_obj = df_full_program(    input_str="""æˆ‘çš„åå­—æ˜¯çº¦ç¿°ï¼Œæˆ‘ä»Šå¹´25å²ã€‚æˆ‘ä½åœ¨çº½çº¦ï¼Œå–œæ¬¢æ‰“ç¯®çƒã€‚ä»–å«è¿ˆå…‹ï¼Œä»–ä»Šå¹´30å²ã€‚ä»–ä½åœ¨æ—§é‡‘å±±ï¼Œå–œæ¬¢æ‰“æ£’çƒã€‚èæ‹‰ä»Šå¹´20å²ï¼Œä½åœ¨æ´›æ‰çŸ¶ã€‚å¥¹å–œæ¬¢æ‰“ç½‘çƒã€‚ç›ä¸½å«ç›ä¸½ï¼Œå¥¹ä»Šå¹´35å²ã€‚å¥¹ä½åœ¨èŠåŠ å“¥ã€‚""")

In [ ]:
result_obj.to_df()

    Name  Age       Location       Hobby
0   John   25       New York  Basketball
1   Mike   30  San Francisco    Baseball
2  Sarah   20    Los Angeles      Tennis
3   Mary   35        Chicago

In [ ]:
# åˆå§‹åŒ–ç©ºçš„æ•°æ®æ¡†df = pd.DataFrame(    {        "City": pd.Series(dtype="str"),        "State": pd.Series(dtype="str"),        "Population": pd.Series(dtype="int"),    })# åˆå§‹åŒ–ç¨‹åºï¼Œä½¿ç”¨ç°æœ‰çš„æ•°æ®æ¡†ä½œä¸ºæ¨¡å¼df_rows_program = DFRowsProgram.from_defaults(    pydantic_program_cls=OpenAIPydanticProgram, df=df)

In [ ]:
input_text = """æ—§é‡‘å±±ä½äºåŠ åˆ©ç¦å°¼äºšå·ï¼Œäººå£ä¸º800,000ã€‚çº½çº¦å¸‚æ˜¯ç¾å›½äººå£æœ€å¤šçš„åŸå¸‚ã€‚2020å¹´ï¼Œçº½çº¦å¸‚çš„äººå£ä¸º8,804,190ï¼Œåˆ†å¸ƒåœ¨300.46å¹³æ–¹è‹±é‡Œï¼ˆ778.2å¹³æ–¹å…¬é‡Œï¼‰çš„åœŸåœ°ä¸Šï¼Œæ˜¯ç¾å›½äººå£å¯†åº¦æœ€å¤§çš„ä¸»è¦åŸå¸‚ã€‚çº½çº¦å¸‚ä½äºçº½çº¦å·ã€‚æ³¢å£«é¡¿ï¼ˆç¾å›½ï¼š/ËˆbÉ”ËstÉ™n/ï¼‰ï¼Œ[8]æ­£å¼åç§°ä¸ºæ³¢å£«é¡¿å¸‚ï¼Œæ˜¯é©¬è¨è¯¸å¡å·çš„é¦–åºœå’Œæœ€å¤§åŸå¸‚ï¼Œä¹Ÿæ˜¯ç¾å›½ä¸œåŒ—éƒ¨æ–°è‹±æ ¼å…°åœ°åŒºçš„æ–‡åŒ–å’Œé‡‘èä¸­å¿ƒã€‚è¯¥å¸‚è¾¹ç•ŒåŒ…æ‹¬çº¦48.4å¹³æ–¹è‹±é‡Œï¼ˆ125å¹³æ–¹å…¬é‡Œï¼‰çš„åŒºåŸŸï¼Œ2020å¹´äººå£ä¸º675,647ã€‚[4]"""# è§£ææ–‡æœ¬ï¼Œä½¿ç”¨ç°æœ‰çš„dfä½œä¸ºæ¨¡å¼result_obj = df_rows_program(input_str=input_text)

In [ ]:
new_df = result_obj.to_df(existing_df=df)
new_df

/Users/jerryliu/Programming/gpt_index/llama_index/program/predefined/df.py:65: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return existing_df.append(new_df, ignore_index=True)

            City          State  Population
0  San Francisco     California      800000
1  New York City       New York     8804190
2         Boston  Massachusetts      675647